
Torun/Torun/bin/Debug/username.txt
Torun/Torun/bin/Debug/password.txt
Torun/Torun/bin/Debug/Torun.exe
Torun/Torun/bin/Debug/Torun.pdb
Torun/Torun/obj/Debug/Torun.pdb
Torun/Torun/obj/Debug/Torun.exe
Torun/Torun/obj/Debug/Torun.csprojAssemblyReference.cache
Torun/Torun/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Torun/Torun/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Torun/Torun/obj/Debug/Torun.csproj.CoreCompileInputs.cache
Torun/Torun/obj/Debug/Torun.csprojAssemblyReference.cache
Torun/Torun/obj/Debug/Torun.exe
Torun/Torun/obj/Debug/Torun_MarkupCompile.i.cache
Torun/Torun/obj/Debug/Torun_MarkupCompile.i.lref
Torun/Torun/bin/Debug/Torun.pdb
Torun/.vs/Torun/v16/Server/sqlite3/storage.ide-wal
Torun/Torun/bin/Debug/Torun.exe
Torun/Torun/bin/Debug/Torun.pdb
Torun/Torun/obj/Debug/Torun.csprojAssemblyReference.cache
Torun/Torun/obj/Debug/Torun.exe
Torun/Torun/obj/Debug/Torun.pdb
Torun/Torun/obj/Debug/windows/Welcome.g.cs
Torun/Torun/obj/Debug/windows/Welcome.g.i.cs
