
Torun/Torun/bin/Debug/username.txt
Torun/Torun/bin/Debug/password.txt
Torun/Torun/bin/Debug/Torun.exe
Torun/Torun/bin/Debug/Torun.pdb
Torun/Torun/obj/Debug/Torun.pdb
Torun/Torun/obj/Debug/Torun.exe
Torun/Torun/obj/Debug/Torun.csprojAssemblyReference.cache
